.proditem {
  display: flex;
  justify-content: space-around;
  margin: 2rem;
}
.image img {
  object-fit: contain;
  width: 400px;
}
.pname {
  font-size: 1.5rem;
  line-height: 2;
}
.price {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.desc {
  font-weight: bold;
  font-size: 1.6rem;
}
.cartbtn {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: #ffd000;
  color: #fff;
  border: none;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 7px;
  transition: ease-in 1s;
  cursor: pointer;
}
.cartbtn:hover {
  background-color: #c09d00;
}
