.dropbtn {
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #252424;
}

.dropdown {
  /* float: right; */
  margin-right: 10rem;
  position: absolute;
  display: inline;
  background-color: #2c2222;
}

.unclicked {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: 0;
  z-index: 1;
}

.clicked a {
  color: #fff;
  padding: 12px 5px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #252424;
}

.clicked {
  display: block;
}
